<div class="espaco-topo">
    <form id="cadastroBeneficio" name="cadastroBeneficio" novalidate role="form" id="participante_cadastro">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Cadastro de Benefício</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="titulo" class="control-label">Título: </label>
                                <input name="titulo" ng-model="beneficio.Titulo" type="text" required class="form-control" id="titulo" placeholder="Título">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inicioValidade" class="control-label">Início Validade: </label>
                            <input name="inicioValidade" ng-model="beneficio.InicioValidade" required type="date" class="form-control" id="titulo" placeholder="Início validade">
                        </div>
                        <div class="col-md-6">
                            <label for="fimValidade" class="control-label">Fim Validade: </label>
                            <input name="fimValidade" ng-model="beneficio.FimValidade" required type="date" class="form-control" id="titulo" placeholder="Fim validade">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usuario" class="control-label">Descrição: </label>
                                <textarea name="descricao" ng-model="beneficio.Descricao" class="form-control" required id="usuario" placeholder="Descrição"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usuarxio" class="control-label">Condições</label>
                                <textarea name="condicoes" ng-model="beneficio.Condicoes" class="form-control" required id="usuarxio" placeholder="Condições"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usuario" class="control-label">Imagem destaque</label>
                                <input type="file" class="form-control" required id="usuario" placeholder="Condições" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usuarxio" class="control-label">Imagem pequena</label>
                                <input type="file" class="form-control" required id="usuarxio" placeholder="Condições" />
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="regulamento" class="control-label">Recomendar para quem tem os interesses:</label>
                                <div>
                                    <label class="checkbox-inline" ng-repeat="preferencia in preferencias">
                                        <input type="checkbox" checklist-model="beneficio.preferencias" checklist-value="preferencia.Id">
                                        {{preferencia.Descricao}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="regulamento">Regulamento e Termos: </label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="opcoes.regulamento" required>
                                        Estou ciente e concordo com o <a href="#">regulamento</a> do programa.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" ng-click="salvar()" class="btn btn-primary pull-right">Cadastrar Benefício</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div> <!-- /container -->
    </form>
</div>